.DS_Store
Thumbs.db
db.json
*.log
node_modules/
public/
remote/
.deploy*/

# Yarn
.yarn/*
!.yarn/releases
!.yarn/plugins
.yarn/install-state.gz
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/pnp.*
