.site-overview {
  text-align: center;
}

.site-overview-title {
  color: $site-overview-title-color;
  font-weight: $site-overview-title-weight;
  text-align: center;
  font-size: 1em;
  margin: 0 0 5px 0;
}

.site-description {
  color: $site-description-color;
  font-size: $site-description-font-size;
  margin-top: $site-description-margin-top;
  text-align: center;
}
